<!DOCTYPE html>
<html class="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title inertia>
      Hypertube
    </title>

    <link rel="preload" href="@vite('inertia/css/app.css')" as="style" />
    <link rel="stylesheet" href="@vite('inertia/css/app.css')" />

    @stack('dumper')
    @viteReactRefresh()
    @inertiaHead()
    @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
  </head>

  <body class="min-h-screen w-screen font-sans">
    @inertia()
  </body>
</html>
